@import "tailwindcss";

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.svg {
    path {
        transition: .1s;
    }

    &:hover path {
        d: path("M 800 300 Q 400 250 0 300 L 0 400 L 800 400 L 800 300 Z");
    }
}
