@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";

@source "../.flowbite-react/class-list.json";

#root {
    width: 100%;
}

.approot {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.svg {
    path {
        transition: .1s;
    }
}

.parallax {
    /*width: 100%;*/
    min-width: 100%;
    min-height: 250%;
    background-size: 100% 100%;
    z-index: -5;
    top: 700px;
}

i {
    font-size: 40px;
}

.panelSection {
    @apply flex flex-col min-w-160 w-1/2 gap-10 p-4 align-middle;
}

.panel {
    @apply flex max-sm:flex-col p-8 gap-4 bg-gray-900 rounded-2xl ease-in-out hover:scale-102 duration-400 min-h-64;
}